@charset "utf-8";
/* CSS Document */
/* global.css*/
body{
	margin:0px;
	padding:0px;
	font-size:12px;
	line-height:20px;
	color:#333;
}
p{ font-size:16px;
color:#000;
	}
ul,li,ol,h1,dl,dd{
	list-style:none;
	margin:0px;
	padding:0px;
}
a{
	color:#333333;
    text-decoration: none;
}    
a:hover{
	color:#333333;
	text-decoration:underline;
}
img{
	border:0px;
}
.blue{
	color:#1965b3;
	text-decoration:none;
}
.blue:hover{
	color:#1965b3;
	text-decoration:underline;
}
#header,#main,#footer{
	width:960px;
	margin:0px auto 0px auto;
	clear:both;
	float:none;
}

/*网页版权部分样式开始*/
.footer_top{
	width:800px;
	margin:0px auto 0px auto;
	clear:both;
	text-align:center;
	color:#9B2B0F;
}
.footer_dull_red,.footer_dull_red:hover{
	color:#9B2B0F;
	margin:0px 8px 0px 8px;
}
/*网页版权部分样式结束*/
.hiddenERRO{
	display:none;
		}
.blockERRO{
	color:red;
	display:block;
	}
	
	.dibu{
		
	 color:#999;
	 text-align:center;
 margin-top:20px;
 }
 .dibuw{
	padding-top:350px;
 font-size:12px;
 font-family:"微软雅黑";
 font-synthesis: weight style;}
 
.dibuyi a img{width:20px;
 height:20px;
 margin-bottom:60px;
	 
 margin-top:20px;} 
 
 .dibuw .dibu .dibuyi{margin-bottom:63px;} 
   .head{
	   height:100px;

	   }
	 